<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>TheFall</string>
		<key>Title</key>
		<string>The Fall</string>
		<key>Down</key>
		<string>Climb</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Climb</string>
		<key>Title</key>
		<string>The Climb</string>
		<key>Up</key>
		<string>TheFall</string>
		<key>Right</key>
		<string>VillagePeople</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>VillagePeople</string>
		<key>Title</key>
		<string>The Village People</string>
		<key>Left</key>
		<string>Climb</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>VillagePeople</string>
		<key>Title</key>
		<string>The Village People</string>
		<key>Left</key>
		<string>Climb</string>
		<key>Right</key>
		<string>Warehouse</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Warehouse</string>
		<key>Title</key>
		<string>Storage Facility</string>
		<key>Left</key>
		<string>VillagePeople</string>
	</dict>
</array>
</plist>
