<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0,0</key>
	<string>Spawn</string>
	<key>1,0</key>
	<string>Jumper</string>
	<key>2,0</key>
	<string>Health</string>
	<key>3,0</key>
	<string>Battery</string>
	
	<key>0,1</key>
	<string>Door</string>
	<key>1,1</key>
	<string>DoubleJump</string>
	<key>2,1</key>
	<string>Shotgun</string>
	<key>3,1</key>
	<string>Parasprite</string>

	<key>0,2</key>
	<string>StripLight</string>
	<key>1,2</key>
	<string>Torch</string>
	<key>2,2</key>
	<string>Rocket</string>
	<key>3,2</key>
	<string>Phone</string>

	<key>0,3</key>
	<string>Purple</string>
	<key>1,3</key>
	<string>WBFS</string>
	<key>2,3</key>
	<string>Operator</string>
	<key>3,3</key>
	<string>Coin</string>
</dict>
</plist>
